@import "../scss/variables.scss";
//table
.tableResponsive {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.009);
  width: 1200px;
  height: auto;
  overflow-x: auto;
  margin-top: 2rem;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1400px;
  }
  tr {
    height: 70px;
    th {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.02em;
      color: $table-header;
      // border-bottom: 1px solid $secondary-gray;
    }
    td {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      color: $table-text;
      border-top: 1px solid $secondary-gray;
    }
    th:nth-child(1) {
      text-align: center;
    }
    td:nth-child(1) {
      text-align: center;
    }
  }
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  .borderTable {
    margin: 0px;
    height: 0.1px;
    opacity: 0.9;
    width: 100%;
    background-color: $secondary-gray;
  }
}
