.wrapProperty {
  display: flex;
  align-items: center;
  padding: 14px 15px;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 600;
  .addIcon {
    margin-right: 8.25px;
    width: 18px;
    height: 18px;
  }
}

.text {
  font-size: 14px;
  color: #1b233c;
  margin-top: 2px;
  font-family: "Barlow";
  font-weight: 600;
}

.react_select {
  :global {
    .Select__control {
      font-family: "Barlow";
      font-weight: 600;
      border-radius: 8px;
      border: 1px solid #d2d3d4;

      box-shadow: 0 !important;
      outline: 0;
      font-size: 14px;
      cursor: pointer;
      height: 45px;
      padding-right: 10px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);

      &.Select__control--is-focused {
        border: 1px solid #090909;
      }

      .Select__value-container {
        .Select__single-value {
          color: #222222;
          font-size: 14px;
          font-family: "Barlow";
          font-weight: 600;
        }
        .Select__multi-value {
          color: #222222;
          font-size: 14px;
          font-family: "Barlow";
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .Select__placeholder {
          font-family: "Barlow";
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: #000;
          opacity: 0.6;
        }
      }

      .Select__indicators {
        .Select__indicator-separator {
          display: none;
        }

        .Select_dropdown-indicator {
          font-family: "Barlow";
          padding: 0;
          height: 26px;
          width: 26px;
          color: #1e2528;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .Select__menu {
      z-index: 1000;
      .Select__text {
        .Select__menu-list {
          .Select__option {
            background-color: transparent !important;
            font-family: "Barlow";
            z-index: 1000;
          }
        }
      }
    }
    .Select__multi-value__label {
      background-color: #fff !important;
      font-size: 14px;
      padding: 0;
      font-weight: 600;
      padding-top: 7px;
    }
  }

  ::-webkit-scrollbar {
    width: 0.4em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(91, 90, 90, 0.2);
    border-radius: 5%;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 100px;
    height: 1px;
    margin-right: 10px;
  }
}

.checkbox {
  margin-top: 0;
  margin-right: 8px;
}

.dropdownFooter {
  border-top: 1px solid #dcdcdc;
  padding: 12px;
  text-align: right;

  .applybtn {
    color: #d2d3d4;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Barlow";
    text-decoration: none;
    cursor: pointer;

    &.active {
      color: #935ed6;
      font-weight: bold;
    }
  }
}

.inputgroup {
  height: 45px;
  &.selected {
    color: #090909;
  }
}

.inputgrouptext {
  background-color: #f6f6f6;
  border: 0 !important;
  padding-left: 11.98px;
  padding-right: 8.01px;
  font-family: "Barlow";
  font-weight: 600;

  .searchbtn {
    padding: 0;
    border: 0;

    .searchIcon {
      width: 16.01px;
      height: 16.01px;
      color: #1e2528;
    }
  }
}

.searchInput {
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: #f6f6f6;
  padding-left: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Barlow";
  font-weight: 500;

  &:focus {
    box-shadow: none;
    background-color: #f6f6f6;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Barlow";
    color: #a5a8a9;
  }
}

.dropdownItem {
  padding: 6px 6px 6px 7px;
  z-index: 1000;
  opacity: 1;
  color: inherit;
  font-family: "Barlow";
  font-weight: 500;
}
