.inputBoxStyle {
  font-family: "Barlow";
  font-weight: 600;
  background: #ffffff;
  border: 1.5px solid #d2d3d4;
  padding: 0px 15px;
  padding-right: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 45px !important;
  font-size: 14px;

  &:focus {
    border-color: #090909;
  }

  .uppercaseText {
    text-transform: uppercase !important;
  }

  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #a5a8a9;
    line-height: 20px;
    text-transform: capitalize !important;
  }

  ::-webkit-input-placeholder {
    text-transform: capitalize !important;
  }

  :-moz-placeholder {
    text-transform: capitalize !important;
  }

  ::-moz-placeholder {
    text-transform: capitalize !important;
  }

  :-ms-input-placeholder {
    text-transform: initial !important;
  }
}

.inherit-text::placeholder {
  text-transform: none !important;
}

.uppercaseText {
  text-transform: uppercase !important;

  &::placeholder {
    text-transform: capitalize !important;
  }
}

.NotesinputBoxStyle {
  background: #ffffff;
  border: 1.5px solid #d4d4d4;
  padding: 10px 15px;
  padding-right: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 190px;
  font-size: 14px !important;
}

.ratefiled {
  outline: none;
  border: none;
  height: 15px;
  background: transparent;
  width: 100%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}
.ratefiled::placeholder {
  outline: none;
  border: none;
  height: 15px;
  background: transparent;
  width: 100%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

.amountfiled {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  color: #1e2528;
  font-size: 14px;
}

.inputBoxIconStyle {
  background: #ffffff;
  border: 1.5px solid #d4d4d4;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  padding-left: 25px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 43px !important;
  font-size: 14px !important;
}

.inputBoxStyle2 {
  background: #ffffff;
  border: 1.5px solid #c5c5c5;
  padding-left: 45px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  width: 100%;
  height: 45px !important;
  font-size: 14px !important;
}

.input_head {
  position: relative;
}

.search_icon {
  position: absolute;
  right: 25px;
  cursor: pointer;
  top: 23%;

  span {
    font-weight: 700;
    font-size: 14px;
    color: #367bbf;
  }
}

.message_icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 23%;
}

.password_icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 23%;
}

.inputBoxGrayed {
  background: transparent;
  border: 1.5px solid transparent;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  width: 100%;
  min-height: 45px;
  cursor: default;
  padding: 0px 40px 0px 15px;
}
.inputBoxGrayed:disabled {
  background: transparent;
  border: 1.5px solid transparent;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  width: 100%;
  min-height: 45px;
  cursor: default;
}

.error {
  border: 1.5px solid#BF3939;

  &:focus {
    border-color: #bf3939;
  }
}

.success {
  border-color: #1f9a50;
}

.property_submit {
  position: absolute;
  right: 12px;
  cursor: pointer;
  top: 23%;

  .outline_circle_tick {
    width: 18px;
    height: 18px;
  }
}
