.tooltip {
    padding: 4px 8px;
    box-shadow: 4px 4px 20px 0px #D6D6D6CC;
    max-width: 475px !important;
    background-color: #FFF;
    border: 0;
    min-width: 150px;
   :global {
        .popover-arrow {
            display: none;
        }
        .tooltip-inner {
            color: #1E2528;
            font-family: Barlow;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
   }
}