.card {
  width: 100%;
  height: fit-content;
  // background: white;
  border-radius: 16px;
  margin-top: 15px;
      display: flex;
    justify-content: space-between;
}
.labelColor {
  color: #1e2528;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}
.breadcrumbs {
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}


.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  justify-content: space-between;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background: #f0f0f0;
  border: none;
  outline: none;
  font-size: 14px;
}
.tab2{
      color: red;
    padding: 10px 20px;
    cursor: pointer;
    background: white;
    border: 1px solid red;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    
}

.tab.active {
  background: #fff;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

.tabContent {
  padding: 20px;
  min-height: 400px;
}
