.tooltip {
    padding: 4px 8px;
    box-shadow: 4px 4px 10px 0px #D6D6D6CC;
    //max-width: 152px !important;
    background-color: #FFF;
    border: 0;
    border-radius: 10px;
    //styleName: Caption/C1-Medium, no underline;

    :global {
        .tooltip-arrow {
            display: none;
        }

        .tooltip-inner {
            background-color: #FFF;
            color: #1E2528;
            font-family: Barlow;
            font-weight: 500;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            text-align: initial;
        }
    }
}