.pagination-buttons {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  .break {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
  }
}

.pagination-buttons a {
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  //   border: 1px solid #c7c7c7;
  margin: 5px;
  color: #000000;
  text-decoration: none;
}

.pagination-active a {
  background: #4676bf;
  border: 1px solid #cacccf;
  box-sizing: border-box;
  border-radius: 4px;
  color: white !important;
  text-decoration: none;
}

.pagination-active a:hover {
  background: #4676bf;
  border: 1px solid #cacccf;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
}

.previous-button a {
  background: #ffffff;
  border: 1px solid #cacccf;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(216, 216, 216, 0.52);
  border-radius: 4px;
  text-decoration: none;
  padding: 5px;
}

.previous-button a:hover {
  background: #ffffff;
  border: 1px solid #cacccf;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(216, 216, 216, 0.52);
  border-radius: 4px;
  text-decoration: none;
  padding: 5px;
}

.next-button a {
  background: #ffffff;
  border: 1px solid #cacccf;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(216, 216, 216, 0.52);
  border-radius: 4px;
  text-decoration: none;
  padding: 5px;
}

.next-button a:hover {
  background: #ffffff;
  border: 1px solid #cacccf;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(216, 216, 216, 0.52);
  border-radius: 4px;
  text-decoration: none;
  padding: 5px;
}

.disabled-button a {
  background: #f5f5f5;
  border: 1px solid #9c9c9c;
  box-sizing: border-box;
  border-radius: 3px;
  color: #000000;
  opacity: 0.4;
}
